* {
    margin: 0;
    padding: 0;
    font-family: 'Markazi Text', serif;
}

/**  وهنا وضعنا خط الصفحة لجعله مريح للعين ولجمالية الموقع  **/

@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');

/**  غيرنا لون الخلفية **/

body {
    font-weight: normal;
    font-family: 'Markazi Text', serif;
    background: #E76F51;
}

/** غيرنا شكل التصفح وصار سلس اكثر وافضل  **/

html {
    scroll-behavior: smooth;
}

/** اللوقو  **/

#IMG1 {
    position: relative;
    margin-left: 8%;
    margin-bottom: .5%;
    width: 130px;
}

/**  رأٍس الصفحة **/
header {
    width: 100%;
    background-color: rgba(5, 1, 0, 255);
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0%;
    position: absolute;
    background: #31566d;
}

/**  شريط صفحات الموقع **/

.naV {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: 0% 0% 0% 0%;
    left: 95px;
}

.naV img {
    position: relative;
    left: 5px;
}
.naV a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2.3em;
}
.naV a:hover {
    text-decoration: none;
}

button {
    font-weight: 900;
    width: 0px;
    height: 0px;
    /* border: 3px solid #E76F51; */
    /* border-radius: 25px; */
    transition: all 0.3s;
    cursor: pointer;
    /* background: #E76F51; */
    font-size: 2.3em;
    /* color: #ffffff; */
    border: 0px;
    background-color: #31566d;
    position: relative;
}

button:hover {
    background-color: transparent;
    /* color: white; */
}
i {
    position: relative;
    left: 50px;
}


/**  الخلفية الاولى مع النص والعنوان وزر تحريك الصفحة **/
.image1 {
    background: #E76F51;
    position: relative;
    text-align: center;
    color: white;
    height: 790px;
}

.image1 img {
    content: "";
    position: relative;
    width: 33%;
    top: 4%;
    right: 30%;
}

.image1 h2 {
    text-align: right;
    color: #ffffff;
    content: "";
    position: absolute;
    width: 80%;
    right: 5%;
    height: auto;
    /* right: 7%; */
    top: 19%;
    font-weight: bolder;
    font-size: 10em;
    line-height: 54px;
    top: 100px;
}

.image1 p {
    color: #ffffffe3;
    font-weight: lighter;
    text-align: right;
    content: "";
    position: absolute;
    width: 55%;
    right: 5%;
    /* top: 40%; */
    font-size: 2.5em;
    line-height: 54px;
    top: 250px;
}

#a {
    color: #FFD100;
    cursor: pointer;
    font-weight: bolder;
    text-decoration: none;
    transition: .5s;
}

#a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.image2 {
    background: #31566d;
    position: relative;
    text-align: center;
    color: white;
    height: 780px;
}

.image2 img {
    content: "";
    position: relative;
    top: 1%;
    width: 25%;
}

.image2 p {
    color: #ffffffe3;
    font-weight: lighter;
    text-align: center;
    content: "";
    position: absolute;
    right: 5%;
    width: 90%;
    top: 20%;
    font-size: 2.3em;
    line-height: 54px;
}

.image2 .img {
    content: "";
    position: absolute;
    top: 48%;
    width: 25%;
    left: 38%;
}

.image2 #p {
    color: #ffffffe3;
    font-weight: lighter;
    text-align: center;
    content: "";
    position: absolute;
    right: 5%;
    width: 90%;
    top: 65%;
    font-size: 2.3em;
    line-height: 54px;
}

.image3 {
    background: #31566d;
    position: relative;
    text-align: center;
    height: 800px;
    color: rgb(40, 39, 39);
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.image3 h2 {
    color: #ffffff;
    text-align: center;
    content: "";
    position: absolute;
    width: 100%;
    top: 10%;
    font-weight: bolder;
    font-size: 8em;
    line-height: 54px;
}

.image4 {
    background: #31566d;
    position: relative;
    text-align: center;
    height: 800px;
    color: rgb(40, 39, 39);
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.image4 h2 {
    color: #ffffff;
    text-align: center;
    content: "";
    position: absolute;
    width: 100%;
    top: 10%;
    font-weight: bolder;
    font-size: 8em;
    line-height: 54px;
}

.image3 .card {
    border: #192e3a solid 5px;
    margin-top: 10%;
    width: 300px;
    height: 400px;
    position: relative;
    background: #545B77;
    padding: 2rem 1.5rem;
    transition: box-shadow .3s ease, transform .2s ease;
    font-size: 3em;
}

.image4 .card {
    border: #192e3a solid 5px;
    margin-top: -20%;
    width: 300px;
    height: 400px;
    position: relative;
    background: #545B77;
    padding: 2rem 1.5rem;
    transition: box-shadow .3s ease, transform .2s ease;
    font-size: 3em;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
}

.card-avatar {
    background-image: url(/IMG/profile\(2\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    --size: 230px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: transform .2s ease;
    margin-bottom: 1rem;
}

.card-avatar1 {
    background-image: url(/IMG/profile\(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    --size: 230px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: transform .2s ease;
    margin-bottom: 1rem;
}

.card-social {
    display: flex;
    justify-content: space-around;
    width: 100%;
    opacity: 1;
    transition: transform .2s ease, opacity .2s ease;
    padding-top: 10px;
}

.card-social__item {
    list-style: none;
}

.card-social__item svg {
    display: block;
    padding-bottom: 10px;
    width: 50px;
    fill: #ffffff;
    cursor: pointer;
    transition: fill 0.2s ease, transform 0.2s ease;
}

.card-title {
    color: #ffffff;
    font-size: 1em;
    font-weight: 600;
    line-height: 2rem;
}

.card-subtitle {
    color: #ffffff;
    font-size: 0.8em;
    padding-top: 30px;
}

.card:hover {
    box-shadow: 0 8px 50px #23232333;
}

.card-social__item svg:hover {
    fill: #bababa;
    transform: scale(1.1);
}
