* {
    margin: 0;
    padding: 0;
    font-family: 'Markazi Text', serif;
}

/**  وهنا وضعنا خط الصفحة لجعله مريح للعين ولجمالية الموقع  **/

@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');

/**  غيرنا لون الخلفية **/

body {
    font-weight: normal;
    font-family: 'Markazi Text', serif;
    background: #31566d;
}

/** غيرنا شكل التصفح وصار سلس اكثر وافضل  **/

html {
    scroll-behavior: smooth;
}

.arrow {
    position: absolute;
    background-color: #e76f512e;
    border-bottom-right-radius: 90%;
    width: 90px;
    height: 75px;
    margin: -18% 94.1% 0% 0%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#IMG2 {
    position: absolute;
    width: 45px;
    margin: -17.7% 96.3% 0% 0%;
}

.contact-form{
    position: relative;
    padding: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100px;
    margin-top: 18%;
}

.container{
    width: 1300px;
}

.contact-form h2{
    font-size: 5em;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    position: relative;
    margin-bottom: 5%;
}

.contact-form .main{
    position: relative;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content{
    position: relative;
    padding: 3em 3em;
    background-color: #E76F51;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

.form-img{
    background: #e5e5e5;
    padding: 40px;
    align-items: center;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.form-img img{
    width: 550px;
}

.btn,
button,
input{
    position: relative;
    font-size: 1.1em;
    color: #ffffff;
}

.btn:hover,
button:hover{
    color: #ffffff;
    border: 5px solid #ffffff;
    transition: 0.5s ease;
    background-color: transparent;
}

.contact-form form{
    position: relative;
}

.contact-form input {
    font-size: 1.5em;
}

.contact-form input,
textarea{
    position: relative;
    outline: none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color: black;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #ffffff;
    transition: 0.3s ease;
    border: 2px solid #264653;
}

.contact-form button{
    position: relative;
    font-size: 1.8em;
    height: 70px;
    color: #ffffff;
    width: 100%;
    background: #31566d;
    font-weight: 600;
    transition: 0.2s ease;
    padding: 14px 15px;
    border: 1px solid #31566d;

}
@media(max-width:736px){
    .contact-form .main{
        flex-direction: column;
    }
    .contact-form form{
        margin-top: 30px;
        margin-bottom: 10px;

    }
    .form-img{
        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        order: 2;
    }
    .content{
        order: 1;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

select {
    position: relative;
    background-color: #ffffff;
    border: 2px solid #31566d;
    border-right: none;
}