* {
    margin: 0;
    padding: 0;
    font-family: 'Markazi Text', serif;
}

/**  وهنا وضعنا خط الصفحة لجعله مريح للعين ولجمالية الموقع  **/

@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');

/**  غيرنا لون الخلفية **/

body {
    font-weight: normal;
    font-family: 'Markazi Text', serif;
    background: #F4A261;
}

/** غيرنا شكل التصفح وصار سلس اكثر وافضل  **/

html {
    scroll-behavior: smooth;
}

/** اللوقو  **/

#IMG1 {
    max-width: 55%;
    position: relative;
    margin-left: 36%;
}

/**  رأٍس الصفحة **/

header {
    width: 100%;
    background-color: rgba(5, 1, 0, 255);
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0%;
    position: absolute;
    background: #264653;
}

/**  شريط صفحات الموقع **/

nav {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    margin: 0% 0% 0% 2%;
}

/**  الكلام الي بالشريط **/

nav a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 2.5em;
    position: relative;
    padding-bottom: 5px;
    right: 30px;
    font-family: 'Markazi Text', serif;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 143, 255);
    background: linear-gradient(80deg, rgba(0, 143, 255, 1) 0%, rgba(39, 160, 255, 1) 49%, rgba(255, 154, 0, 1) 49%, rgba(255, 154, 0, 0.9921102229954482) 100%);
    ;
    transform-origin: bottom right;
    transition: transform 0.30s ease-out;
}

nav a:hover::after {
    text-decoration-color: #FFD100;
    transform: scaleX(1);
    transform-origin: bottom right;
}

/**  ازرار تسجيل الخروج والدخول وانشاء الحساب **/

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    margin-right: 8%;
    margin-left: 2%;
    padding-bottom: 10px;
}

button {
    font-weight: 900;
    width: 140px;
    height: 50px;
    border: 3px solid #E76F51;
    border-radius: 25px;
    transition: all 0.3s;
    cursor: pointer;
    background: #E76F51;
    font-size: 1.3em;
    font-weight: 550;
    color: #ffffff;
}

button:hover {
    background-color: transparent;
    color: white;
}

#button {
    width: 140px;
    height: 50px;
    border: 3px solid #000000;
    border-radius: 25px;
    transition: all 0.3s;
    cursor: pointer;
    background: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

#button:hover {
    background: #000000;
    color: white;
}

/**  الخلفية الاولى مع النص والعنوان وزر تحريك الصفحة **/

.image {
    background: rgb(244, 162, 97);
    background: linear-gradient(180deg, rgba(244, 162, 97, 1) 81%, rgba(74, 117, 107, 1) 98%);
    position: relative;
    text-align: center;
    color: white;
    margin-top: 5%;
    height: 700px;
}

.image img {
    content: "";
    position: relative;
    width: 40%;
    right: 26%;
}

.image h2 {
    text-align: right;
    color: #ffffff;
    content: "";
    position: absolute;
    width: 50%;
    right: 10%;
    height: auto;
    /* right: 7%; */
    top: 30%;
    font-weight: bolder;
    font-size: 15em;
    line-height: 54px;
}

.image p {
    color: #ffffffe3;
    font-weight: lighter;
    text-align: right;
    content: "";
    position: absolute;
    width: 50%;
    right: 15%;
    top: 47%;
    font-size: 4.2em;
    line-height: 54px;
}

#B {
    margin-top: 28%;
    right: 22%;
    position: absolute;
}

#B {
    font-weight: 900;
    width: 200px;
    height: 70px;
    border: 3px solid #264653;
    border-radius: 25px;
    transition: all 0.3s;
    cursor: pointer;
    background: #264653;
    font-size: 2.5em;
    font-weight: 550;
    color: #ffffff;
}

.image #B:hover {
    background: transparent;
    color: white;
}

.image1 {
    background: rgb(74, 117, 107);
    background: linear-gradient(180deg, rgba(74, 117, 107, 1) 81%, rgba(68, 80, 105, 1) 98%);
    position: relative;
    text-align: center;
    color: white;
    height: 790px;
}

.image1 img {
    content: "";
    position: relative;
    width: 33%;
    top: 10%;
    right: 30%;
}

.image1 h2 {
    text-align: right;
    color: #ffffff;
    content: "";
    position: absolute;
    width: 80%;
    right: 5%;
    height: auto;
    /* right: 7%; */
    top: 19%;
    font-weight: bolder;
    font-size: 10em;
    line-height: 54px;
}

.image1 p {
    color: #ffffffe3;
    font-weight: lighter;
    text-align: right;
    content: "";
    position: absolute;
    width: 55%;
    right: 5%;
    top: 40%;
    font-size: 2.5em;
    line-height: 54px;
}

#a {
    color: #FFD100;
    cursor: pointer;
    font-weight: bolder;
    text-decoration: none;
    transition: .5s;
}

#a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.image2 {
    background: rgb(68, 80, 105);
    background: linear-gradient(180deg, rgba(68, 80, 105, 1) 86%, rgba(49, 86, 109, 1) 98%);
    position: relative;
    text-align: center;
    color: white;
    height: 780px;
}

.image2 img {
    content: "";
    position: relative;
    top: 1%;
    width: 25%;
}

.image2 p {
    color: #ffffffe3;
    font-weight: lighter;
    text-align: center;
    content: "";
    position: absolute;
    right: 5%;
    width: 90%;
    top: 20%;
    font-size: 2.3em;
    line-height: 54px;
}

.image2 .img {
    content: "";
    position: absolute;
    top: 48%;
    width: 25%;
    left: 38%;
}

.image2 #p {
    color: #ffffffe3;
    font-weight: lighter;
    text-align: center;
    content: "";
    position: absolute;
    right: 5%;
    width: 90%;
    top: 65%;
    font-size: 2.3em;
    line-height: 54px;
}

.image3 {
    background: #31566d;
    position: relative;
    text-align: center;
    height: 800px;
    color: rgb(40, 39, 39);
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.image3 h2 {
    color: #ffffff;
    text-align: center;
    content: "";
    position: absolute;
    width: 100%;
    top: 10%;
    font-weight: bolder;
    font-size: 8em;
    line-height: 54px;
}

.card {
    border: #192e3a solid 5px;
    margin-top: 10%;
    width: 300px;
    height: 400px;
    background: #545B77;
    padding: 2rem 1.5rem;
    transition: box-shadow .3s ease, transform .2s ease;
    font-size: 3em;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
}

.card-avatar {
    background-image: url(/IMG/profile\(2\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    --size: 230px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: transform .2s ease;
    margin-bottom: 1rem;
}

.card-avatar1 {
    background-image: url(/IMG/profile\(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    --size: 230px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: transform .2s ease;
    margin-bottom: 1rem;
}

.card-social {
    display: flex;
    justify-content: space-around;
    width: 100%;
    opacity: 1;
    transition: transform .2s ease, opacity .2s ease;
    padding-top: 10px;
}

.card-social__item {
    list-style: none;
}

.card-social__item svg {
    display: block;
    padding-bottom: 10px;
    width: 50px;
    fill: #ffffff;
    cursor: pointer;
    transition: fill 0.2s ease, transform 0.2s ease;
}

.card-title {
    color: #ffffff;
    font-size: 1em;
    font-weight: 600;
    line-height: 2rem;
}

.card-subtitle {
    color: #ffffff;
    font-size: 0.8em;
    padding-top: 30px;
}

.card:hover {
    box-shadow: 0 8px 50px #23232333;
}

.card-social__item svg:hover {
    fill: #bababa;
    transform: scale(1.1);
}

footer {
    background: rgb(38,70,83);
    background: linear-gradient(0deg, rgba(38,70,83,1) 88%, rgba(49,86,109,1) 100%); 
    padding: 10px 0px;
    text-align: center;
    max-width: 100%;
    top: px;
    height: 240px;
    position: relative;
}

.img {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: white;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

footer .row a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    font-size: 0.85em;
}

footer .row a:hover {
    color: gray;
}

footer .row ul {
    width: 100%;
}

footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

footer .row a i {
    font-size: 4em;
    margin: 0% 1%;
}


footer {
    text-align: center;

}

footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
    font-size: 3em;
}

footer .row a i {
    margin: 0% 3%;
    font-size: 3em;
}

/**  ايقونات برامج التواصل الاجتماعي **/

.socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #292c3b;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}

/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}

/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
}

/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
}

/* Whatsapp*/
.containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

/* انيميشن الصفحات */

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}