* {
    margin: 0;
    padding: 0;
    font-family: 'Markazi Text', serif;
  }
  
  /**  وهنا وضعنا خط الصفحة لجعله مريح للعين ولجمالية الموقع  **/
  
  @import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
  
  /**  غيرنا لون الخلفية **/
  
  body {
    font-weight: normal;
    background: rgb(0,143,255);
    background: linear-gradient(40deg, rgba(0,143,255,1) 0%, rgba(39,160,255,1) 49%, rgba(255,154,0,1) 49%, rgba(255,154,0,0.9921102229954482) 100%); 
    font-family: 'Markazi Text', serif;
  }
  
  /** غيرنا شكل التصفح وصار سلس اكثر وافضل  **/
  
  html {
    scroll-behavior: smooth;
  }