* {
  margin: 0;
  padding: 0;
  font-family: 'Markazi Text', serif;
}

/**  وهنا وضعنا خط الصفحة لجعله مريح للعين ولجمالية الموقع  **/

@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');

/**  غيرنا لون الخلفية **/

body {
  font-weight: normal;
  font-family: 'Markazi Text', serif;
  background: #F4A261;
}

/** غيرنا شكل التصفح وصار سلس اكثر وافضل  **/

html {
  scroll-behavior: smooth;
}

/** اللوقو  **/

#IMG1 {
  max-width: 55%;
  position: relative;
  margin-left: 36%;
}

/**  رأٍس الصفحة **/

header {
  width: 100%;
  background-color: rgba(5, 1, 0, 255);
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0%;
  position: absolute;
  background: #31566d;
}

/**  شريط صفحات الموقع **/

.naV {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin: 0% 0% 0% 0%;
  left: 95px;
}

.naV img {
  position: relative;
  left: 5px;
}
.naV a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2.3em;
}
.naV a:hover {
  text-decoration: none;
}

/**  ازرار تسجيل الخروج والدخول وانشاء الحساب **/

button {
  font-weight: 900;
  width: 0px;
  height: 0px;
  /* border: 3px solid #E76F51; */
  /* border-radius: 25px; */
  transition: all 0.3s;
  cursor: pointer;
  /* background: #E76F51; */
  font-size: 2.3em;
  /* color: #ffffff; */
  border: 0px;
  background-color: #31566d;
  position: relative;
}

button:hover {
  background-color: transparent;
  /* color: white; */
}
i {
  position: relative;
  left: 50px;
}


#button {
  width: 140px;
  height: 50px;
  border: 3px solid #000000;
  border-radius: 25px;
  transition: all 0.3s;
  cursor: pointer;
  background: rgb(0, 0, 0);
  font-size: 1.2em;
  font-weight: normal;
  color: rgb(255, 255, 255);
}

#button:hover {
  background: #000000;
  color: white;
}

h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 5em;
}

section {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.section1 {
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(244,162,97);
  background: linear-gradient(180deg, rgba(244,162,97,1) 73%, rgba(38,70,83,1) 98%); 
}

.card {
  width: 350px;
  height: 450px;
  border-radius: 50px;
  margin-bottom: 50px;
  background: #ecdfbe;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 20px 40px;
  transition: .5s;
}

.card-img {
  margin-top: 2%;
  height: 40%;
  width: 100%;
  transition: .3s ease;
}

.card_info {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 1%;
}

.card-img img {
  margin-left: 27%;
  width: 45%;
}

#button0 {
  font-weight: 900;
  border-radius: 0%;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 2.3em;
  text-align: center;
  color: #ffffff;
  border: none;
  background-color: #264653;
}

#button0:hover {
  filter: brightness(60%);
}

.card-footer {
  margin-top: 5%;
  width: 100%;
  height: 15%;
}

/*Text*/
.text-title {
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 2.5em;
  line-height: 1.5;
}

.text-title1 {
  font-size: 3em;
  font-weight: 900;
  line-height: 1.5;
}

.text-body {
  color: rgb(0, 0, 0);
  font-size: .9em;
  padding-top: 10px;
}

footer {
  background: #264653;
  padding: 10px 0px;
  text-align: center;
  max-width: 100%;
  top: px;
  height: 100%;
  position: relative;
}

.img {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: white;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

footer .row a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  font-size: 0.85em;
}

footer .row a:hover {
  color: gray;
}

footer .row ul {
  width: 100%;
}

footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

footer .row a i {
  font-size: 4em;
  margin: 0% 1%;
}


footer {
  text-align: center;

}

footer .row ul li {
  display: block;
  margin: 10px 0px;
  text-align: left;
  font-size: 3em;
}

footer .row a i {
  margin: 0% 3%;
  font-size: 3em;
}

/**  ايقونات برامج التواصل الاجتماعي **/

.socialContainer {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #292c3b;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}

/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}

/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}

/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}

/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

/* انيميشن الصفحات */

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}