* {
    margin: 0;
    padding: 0;
    font-family: 'Markazi Text', serif;
}

/**  وهنا وضعنا خط الصفحة لجعله مريح للعين ولجمالية الموقع  **/

@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');

/**  غيرنا لون الخلفية **/

body {
    font-weight: normal;
    font-family: 'Markazi Text', serif;
    background: #F4A261;
}

/** غيرنا شكل التصفح وصار سلس اكثر وافضل  **/

html {
    scroll-behavior: smooth;
}

/** اللوقو  **/

#IMG1 {
    max-width: 55%;
    position: relative;
    margin-left: 36%;
}

/**  رأٍس الصفحة **/

header {
    width: 100%;
    background-color: rgba(5, 1, 0, 255);
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0%;
    position: absolute;
    background: #264653;
}

/**  شريط صفحات الموقع **/

nav {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    margin: 0% 0% 0% 2%;
}

/**  الكلام الي بالشريط **/

nav a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 2.5em;
    position: relative;
    padding-bottom: 5px;
    right: 30px;
    font-family: 'Markazi Text', serif;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 143, 255);
    background: linear-gradient(80deg, rgba(0, 143, 255, 1) 0%, rgba(39, 160, 255, 1) 49%, rgba(255, 154, 0, 1) 49%, rgba(255, 154, 0, 0.9921102229954482) 100%);
    ;
    transform-origin: bottom right;
    transition: transform 0.30s ease-out;
}

nav a:hover::after {
    text-decoration-color: #FFD100;
    transform: scaleX(1);
    transform-origin: bottom right;
}

/**  ازرار تسجيل الخروج والدخول وانشاء الحساب **/

.button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    margin-right: 8%;
    margin-left: 2%;
    padding-bottom: 10px;
}

button {
    font-weight: 900;
    width: 140px;
    height: 50px;
    border: 3px solid #E76F51;
    border-radius: 25px;
    transition: all 0.3s;
    cursor: pointer;
    background: #E76F51;
    font-size: 1.3em;
    font-weight: 550;
    color: #ffffff;
}

button:hover {
    background-color: transparent;
    color: white;
}

#button {
    width: 140px;
    height: 50px;
    border: 3px solid #000000;
    border-radius: 25px;
    transition: all 0.3s;
    cursor: pointer;
    background: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

#button:hover {
    background: #000000;
    color: white;
}

section {
    margin-top: 1.5%;
    background-color: #E76F51;
    display: flex;
    flex-direction: row;
    text-align: right;
}

#webcam-container {
    position: relative;
    /* width: 700px; */
    height: 369px;
    border: 10px #264653 solid;
    margin: 1.97% 0% 0px 53.2%;
    background-color: #000000;
}

#label-container1 {
    position: relative;
    font-size: 5em;
    border: 10px #264653 solid;
    /* background-color: #264653; */
    /* width: 700px; */
    height: 200px;
    margin: 0% 0% 0% 53.2%;
}
#label-container {
    font-size: 1.2em;
    margin: -10% 0% 0% 47%;

}
#start {
    position: relative;
    left: 39%;
    top: 40%;
    width: 180px;
    font-size: 2em;
    font-weight: bolder;
    height: 50px;
}

canvas {
    position: relative;
    /* right: -90%; */
    /* width: 500px; */
    bottom:50px;
}
#letters_img {
    position: relative;
    border: 10px #264653 solid;
    bottom: 609px;
    width: 52%;
    height: 590px;
}