* {
    margin: 0;
    padding: 0;
    font-family: 'Markazi Text', serif;
}

/**  وهنا وضعنا خط الصفحة لجعله مريح للعين ولجمالية الموقع  **/

@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');

/**  غيرنا لون الخلفية **/

body {
    font-weight: normal;
    font-family: 'Markazi Text', serif;
    background: #E76F51;
}

/** غيرنا شكل التصفح وصار سلس اكثر وافضل  **/

html {
    scroll-behavior: smooth;
}

/** اللوقو  **/

#IMG1 {
    position: relative;
    margin-left: 8%;
    width: 130px;
}

/**  رأٍس الصفحة **/

header {
    width: 100%;
    background-color: rgba(5, 1, 0, 255);
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0%;
    position: relative;
    background: #31566d;
}

/**  شريط صفحات الموقع **/

.naV {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    gap: 50px;
    align-items: center;
    margin: 0% 0% 0% 7%;
}

.naV img {
    transition: all 0.3s;
    cursor: pointer;
}

.naV img:hover {
}

button {
    font-weight: 900;
    width: 200px;
    height: 60px;
    border: 3px solid #E76F51;
    border-radius: 25px;
    transition: all 0.3s;
    cursor: pointer;
    background: #E76F51;
    font-size: 2.3em;
    color: #ffffff;
}

button:hover {
    background-color: transparent;
    color: white;
}

section {
    background-color: #E76F51;
    display: flex;
    flex-direction: row;
    text-align: right;
}

#webcam-container {
    height: 370px;
    width: 48%;
    border: 10px #31566d solid;
    background-color: #000000;
    margin-left: ;
}

#label-container1 {
    position: absolute;
    font-size: 5em;
    border: 10px #31566d solid;
    width: 48%;
    height: 220px;
    bottom: 1px;
}
#label-container {
    font-size: 1.2em;
    margin: -10% 0% 0% 47%;
}
#start {
    position: relative;
    left: -36%;
    top: 40%;
    width: 180px;
    font-size: 2em;
    font-weight: bolder;
    height: 50px;
}

#letters_img {
    position: relative;
    border: 10px #31566d solid;
    width: 752.4px;
    height: 607px;
}
